/*---------------------------
    RESET   
----------------------------*/
body{
    background-color: #001632;
}

/*---------------------------
    RESET   
----------------------------*/
.ms-container{
    width: 100%;
    max-width: 900px;
    margin: auto;
}

/*---------------------------
    HEADER   
----------------------------*/
header{
    color: #808b99;
}

/*---------------------------
    MAIN
----------------------------*/
main .output-field{
    background-color: #cff4fc;
    color: #0b4554;
}

main .tools-container{
    background-color: white;
}

main .tools-container p{
    padding: 30px;
}

main .tools-container form{
    display: flex;
}

form .form-left{
    width: 60%;
}

form .form-left div:nth-child(2){
    height: 160px;
}

form .form-right{
}

form .form-right .radio-input,
form .form-right .check-input{
    height: 80px;
}

.ms-info{
    position: absolute;
    background-color: white;
    top: 50%;
    left: 30px;
    transform: translate(0, -50%);
    padding: 15px;
}